name: movie-backend-workflow
run-name: Test and deploy on github actions

on:
  push:
    branches: ["add-frontend"]

jobs:
  deploy:
    runs-on: ubuntu-22.04
#    if: contains(github.event.head_commit.message, '[deploy]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: main

      - name: Checkout ui Repository
        uses: actions/checkout@v4
        with:
          repository: ${{github.actor}}/movie-system-ui
          ref: refs/heads/main
          path: movie-system-ui

      - name: list workspace contents along with repo contents
        run: ls -l ${{github.workspace}} && ls -l ${{github.workspace}}/movie-system-ui && ls -l ${{github.workspace}}/main
#      - name: Log in to Container Registry
#        uses: docker/login-action@v3.6.0
#        with:
#          registry: ghcr.io
#          username: ${{github.actor}}
#          password: ${{secrets.DOCKER_IMAGE_PUSH}}
#
#      - name: Docker metadata
#        id: meta
#        uses: docker/metadata-action@v5.9.0
#        with:
#          images: ghcr.io/movie-system-backend
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v6.18.0
#        with:
#          context: .
#          push: true
#          tags: ghcr.io/${{github.actor}}/movie-system-backend:latest