name: movie-backend-workflow
run-name: Test and deploy on github actions

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          path: main-test
      - name: Set up JDK 17 for tests
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          architecture: x64
      - name: Run tests
        working-directory: ${{github.workspace}}/main-test
        run: mvn test

  build:
    needs: [test]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [ '22.x' ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: main

      - name: fetch frontend artifact name
        id: foo
        run: echo info=`cat ${{github.workspace}}/main/.github/workflows/data.json` >> $GITHUB_OUTPUT

      - name: Fetch frontend artifacts
        uses: actions/download-artifact@v4
        with:
          run-id: ${{ fromJSON(steps.foo.outputs.info).runId}}
          github-token: ${{secrets.UI_REPO_ACTIONS_READ_TOKEN}}
          repository: ${{ github.actor }}/movie-system-ui
          path: ${{github.workspace}}

      - name: Copy ui artifacts to static resources backend project dir
        working-directory: ${{github.workspace}}/main/application/src/main/resources
        run: mkdir static && cp -r ${{github.workspace}}/${{ fromJSON(steps.foo.outputs.info).frontend}}_build/* ./static/

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          architecture: x64

      - name: Build with Maven
        working-directory: ${{github.workspace}}/main
        run: mvn clean install -Dmaven.test.skip=true

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: movie-app
          path: '${{ github.workspace }}/main/application/target/*.jar'

  deploy:
    needs: [build]
    runs-on: ubuntu-22.04
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: movie-app

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'movie-app'
          slot-name: 'Production'
          package: '*.jar'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}