name: movie-backend-workflow
run-name: Test and deploy on github actions

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [ '22.x' ]
    if: contains(github.event.head_commit.message, '[deploy]')
    steps:
      - name: Checkout ui repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.actor }}/movie-system-ui
          ref: refs/heads/main
          path: movie-system-ui
      - name: Get Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install ui project dependencies
        working-directory: ${{github.workspace}}/movie-system-ui
        run: npm install
      - name: Create ui build
        working-directory: ${{github.workspace}}/movie-system-ui
        run: npm run build

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: main

      - name: Copy ui build to static resources backend project dir
        run: cp -a ${{github.workspace}}/movie-system-ui/dist/. ${{github.workspace}}/main/src/main/resources/static/

      - name: Log in to Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.DOCKER_IMAGE_PUSH}}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/movie-system-backend

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ${{github.workspace}}/main
          push: true
          tags: ghcr.io/${{github.actor}}/movie-system-backend:latest